/.idea
/.vscode
/node_modules
/public/hot
/public/storage
/public/img/imoveis/*
!/public/img/imoveis/.gitkeep
/public/img/paginas/*
!/public/img/paginas/.gitkeep
/public/img/slides/*
!/public/img/slides/.gitkeep
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
